### Each student member performs initial merges with the COVID-19 data using the variables in the Enrichment data:

Importing pandas library for reading csv file and performing analysis on that data.

In [1]:
import pandas as pd

Reading super covid19 csv file and displaying the data

In [2]:
super_covid_data=pd.read_csv("../../../../data/Stage_1/super_covid19.csv")
super_covid_data.dtypes

countyFIPS        int64
County Name_x    object
State            object
StateFIPS         int64
2020-01-22_x      int64
                  ...
2023-01-14_y      int64
2023-01-15_y      int64
2023-01-16_y      int64
County Name_y    object
population        int64
Length: 2188, dtype: object

Reading Employment data set excel file and displaying the data

In [3]:
employee_data= pd.read_excel("../../../../data/Stage_1/Silpa_data/Employee_data.xlsx")

In [4]:
employee_data.dtypes

Area\nCode                                        object
St                                                object
Cnty                                             float64
Own                                                int64
NAICS                                              int64
Year                                               int64
Qtr                                                int64
Area Type                                         object
St Name                                           object
Area                                              object
Ownership                                         object
Industry                                          object
Status Code                                       object
Establishment Count                                int64
January Employment                                 int64
February Employment                                int64
March Employment                                   int64
Total Quarterly Wages                              int64
Average Weekly Wage                                int64
Employment Location Quotient Relative to U.S.    float64
Total Wage Location Quotient Relative to U.S.    float64
dtype: object

In [5]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

Just describing the data type of each columns of employment dataset

In [14]:
employee_data

,Area\nCode,St,Cnty,Own,NAICS,Year,Qtr,Area Type,St Name,Area,...,Status Code,Establishment Count,January Employment,February Employment,March Employment,Total Quarterly Wages,Average Weekly Wage,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.,State
0,US000,US,0.0,0,10,2022,1,Nation,NaN,U.S. TOTAL,...,NaN,11294919,145582488,147172213,147781400,2622652420011,1374,1.00,1.00,
1,US000,US,0.0,1,10,2022,1,Nation,NaN,U.S. TOTAL,...,NaN,60882,2860360,2858451,2853067,60805753244,1637,1.00,1.00,
2,US000,US,0.0,2,10,2022,1,Nation,NaN,U.S. TOTAL,...,NaN,70526,4456377,4529802,4534064,78903410196,1347,1.00,1.00,
3,US000,US,0.0,3,10,2022,1,Nation,NaN,U.S. TOTAL,...,NaN,171395,13954426,14065705,14114268,203425519443,1114,1.00,1.00,
4,US000,US,0.0,5,10,2022,1,Nation,NaN,U.S. TOTAL,...,NaN,10992116,124311325,125718255,126280001,2279517737128,1398,1.00,1.00,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62917,C4974,NaN,NaN,5,1024,2022,1,MSA,NaN,Yuma,...,NaN,528,7085,7174,7163,85940000,926,0.63,0.49,
62918,C4974,NaN,NaN,5,1025,2022,1,MSA,NaN,Yuma,...,NaN,435,7939,8082,8163,112255371,1071,0.68,1.03,
62919,C4974,NaN,NaN,5,1026,2022,1,MSA,NaN,Yuma,...,NaN,363,6882,6965,7056,41301696,456,0.91,1.21,
62920,C4974,NaN,NaN,5,1027,2022,1,MSA,NaN,Yuma,...,NaN,246,1422,1447,1408,14101346,761,0.63,0.87,
62921,C4974,NaN,NaN,5,1029,2022,1,MSA,NaN,Yuma,...,NaN,40,62,113,89,652637,570,0.58,0.38,

In [15]:
employee_data.dtypes

Area\nCode                                        object
St                                                object
Cnty                                             float64
Own                                                int64
NAICS                                              int64
Year                                               int64
Qtr                                                int64
Area Type                                         object
St Name                                           object
Area                                              object
Ownership                                         object
Industry                                          object
Status Code                                       object
Establishment Count                                int64
January Employment                                 int64
February Employment                                int64
March Employment                                   int64
Total Quarterly Wages                              int64
Average Weekly Wage                                int64
Employment Location Quotient Relative to U.S.    float64
Total Wage Location Quotient Relative to U.S.    float64
State                                             object
dtype: object

Just describing the data type of each columns of super covid dataset

In [7]:
super_covid_data.dtypes

countyFIPS        int64
County Name_x    object
State            object
StateFIPS         int64
2020-01-22_x      int64
                  ...
2023-01-14_y      int64
2023-01-15_y      int64
2023-01-16_y      int64
County Name_y    object
population        int64
Length: 2188, dtype: object

We are using List Function which  returns a list object containing the column labels of the dataframe.

In [8]:
list(super_covid_data.columns)

['countyFIPS',
 'County Name_x',
 'State',
 'StateFIPS',
 '2020-01-22_x',
 '2020-01-23_x',
 '2020-01-24_x',
 '2020-01-25_x',
 '2020-01-26_x',
 '2020-01-27_x',
 '2020-01-28_x',
 '2020-01-29_x',
 '2020-01-30_x',
 '2020-01-31_x',
 '2020-02-01_x',
 '2020-02-02_x',
 '2020-02-03_x',
 '2020-02-04_x',
 '2020-02-05_x',
 '2020-02-06_x',
 '2020-02-07_x',
 '2020-02-08_x',
 '2020-02-09_x',
 '2020-02-10_x',
 '2020-02-11_x',
 '2020-02-12_x',
 '2020-02-13_x',
 '2020-02-14_x',
 '2020-02-15_x',
 '2020-02-16_x',
 '2020-02-17_x',
 '2020-02-18_x',
 '2020-02-19_x',
 '2020-02-20_x',
 '2020-02-21_x',
 '2020-02-22_x',
 '2020-02-23_x',
 '2020-02-24_x',
 '2020-02-25_x',
 '2020-02-26_x',
 '2020-02-27_x',
 '2020-02-28_x',
 '2020-02-29_x',
 '2020-03-01_x',
 '2020-03-02_x',
 '2020-03-03_x',
 '2020-03-04_x',
 '2020-03-05_x',
 '2020-03-06_x',
 '2020-03-07_x',
 '2020-03-08_x',
 '2020-03-09_x',
 '2020-03-10_x',
 '2020-03-11_x',
 '2020-03-12_x',
 '2020-03-13_x',
 '2020-03-14_x',
 '2020-03-15_x',
 '2020-03-16_x',
 '2020-03-17_x',
 '2020-03-18_x',
 '2020-03-19_x',
 '2020-03-20_x',
 '2020-03-21_x',
 '2020-03-22_x',
 '2020-03-23_x',
 '2020-03-24_x',
 '2020-03-25_x',
 '2020-03-26_x',
 '2020-03-27_x',
 '2020-03-28_x',
 '2020-03-29_x',
 '2020-03-30_x',
 '2020-03-31_x',
 '2020-04-01_x',
 '2020-04-02_x',
 '2020-04-03_x',
 '2020-04-04_x',
 '2020-04-05_x',
 '2020-04-06_x',
 '2020-04-07_x',
 '2020-04-08_x',
 '2020-04-09_x',
 '2020-04-10_x',
 '2020-04-11_x',
 '2020-04-12_x',
 '2020-04-13_x',
 '2020-04-14_x',
 '2020-04-15_x',
 '2020-04-16_x',
 '2020-04-17_x',
 '2020-04-18_x',
 '2020-04-19_x',
 '2020-04-20_x',
 '2020-04-21_x',
 '2020-04-22_x',
 '2020-04-23_x',
 '2020-04-24_x',
 '2020-04-25_x',
 '2020-04-26_x',
 '2020-04-27_x',
 '2020-04-28_x',
 '2020-04-29_x',
 '2020-04-30_x',
 '2020-05-01_x',
 '2020-05-02_x',
 '2020-05-03_x',
 '2020-05-04_x',
 '2020-05-05_x',
 '2020-05-06_x',
 '2020-05-07_x',
 '2020-05-08_x',
 '2020-05-09_x',
 '2020-05-10_x',
 '2020-05-11_x',
 '2020-05-12_x',
 '2020-05-13_x',
 '2020-05-14_x',
 '2020-05-15_x',
 '2020-05-16_x',
 '2020-05-17_x',
 '2020-05-18_x',
 '2020-05-19_x',
 '2020-05-20_x',
 '2020-05-21_x',
 '2020-05-22_x',
 '2020-05-23_x',
 '2020-05-24_x',
 '2020-05-25_x',
 '2020-05-26_x',
 '2020-05-27_x',
 '2020-05-28_x',
 '2020-05-29_x',
 '2020-05-30_x',
 '2020-05-31_x',
 '2020-06-01_x',
 '2020-06-02_x',
 '2020-06-03_x',
 '2020-06-04_x',
 '2020-06-05_x',
 '2020-06-06_x',
 '2020-06-07_x',
 '2020-06-08_x',
 '2020-06-09_x',
 '2020-06-10_x',
 '2020-06-11_x',
 '2020-06-12_x',
 '2020-06-13_x',
 '2020-06-14_x',
 '2020-06-15_x',
 '2020-06-16_x',
 '2020-06-17_x',
 '2020-06-18_x',
 '2020-06-19_x',
 '2020-06-20_x',
 '2020-06-21_x',
 '2020-06-22_x',
 '2020-06-23_x',
 '2020-06-24_x',
 '2020-06-25_x',
 '2020-06-26_x',
 '2020-06-27_x',
 '2020-06-28_x',
 '2020-06-29_x',
 '2020-06-30_x',
 '2020-07-01_x',
 '2020-07-02_x',
 '2020-07-03_x',
 '2020-07-04_x',
 '2020-07-05_x',
 '2020-07-06_x',
 '2020-07-07_x',
 '2020-07-08_x',
 '2020-07-09_x',
 '2020-07-10_x',
 '2020-07-11_x',
 '2020-07-12_x',
 '2020-07-13_x',
 '2020-07-14_x',
 '2020-07-15_x',
 '2020-07-16_x',
 '2020-07-17_x',
 '2020-07-18_x',
 '2020-07-19_x',
 '2020-07-20_x',
 '2020-07-21_x',
 '2020-07-22_x',
 '2020-07-23_x',
 '2020-07-24_x',
 '2020-07-25_x',
 '2020-07-26_x',
 '2020-07-27_x',
 '2020-07-28_x',
 '2020-07-29_x',
 '2020-07-30_x',
 '2020-07-31_x',
 '2020-08-01_x',
 '2020-08-02_x',
 '2020-08-03_x',
 '2020-08-04_x',
 '2020-08-05_x',
 '2020-08-06_x',
 '2020-08-07_x',
 '2020-08-08_x',
 '2020-08-09_x',
 '2020-08-10_x',
 '2020-08-11_x',
 '2020-08-12_x',
 '2020-08-13_x',
 '2020-08-14_x',
 '2020-08-15_x',
 '2020-08-16_x',
 '2020-08-17_x',
 '2020-08-18_x',
 '2020-08-19_x',
 '2020-08-20_x',
 '2020-08-21_x',
 '2020-08-22_x',
 '2020-08-23_x',
 '2020-08-24_x',
 '2020-08-25_x',
 '2020-08-26_x',
 '2020-08-27_x',
 '2020-08-28_x',
 '2020-08-29_x',
 '2020-08-30_x',
 '2020-08-31_x',
 '2020-09-01_x',
 '2020-09-02_x',
 '2020-09-03_x',
 '2020-09-04_x',
 '2020-09-05_x',
 '2020-09-06_x',
 '2020-09-07_x',
 '2020-09-08_x',
 '2020-09-09_x',
 '2020-09-10_x',
 '2020-09-11_x',
 '2020-09-12_x',
 '2020-09-13_x',
 '2020-09-14_x',
 '2020-09-15_x',
 '2020-09-16_x',
 '2020-09-17_x',
 '2020-09-18_x',
 '2020-09-19_x',
 '2020-09-20_x',
 '2020-09-21_x',
 '2020-09-22_x',
 '2020-09-23_x',
 '2020-09-24_x',
 '2020-09-25_x',
 '2020-09-26_x',
 '2020-09-27_x',
 '2020-09-28_x',
 '2020-09-29_x',
 '2020-09-30_x',
 '2020-10-01_x',
 '2020-10-02_x',
 '2020-10-03_x',
 '2020-10-04_x',
 '2020-10-05_x',
 '2020-10-06_x',
 '2020-10-07_x',
 '2020-10-08_x',
 '2020-10-09_x',
 '2020-10-10_x',
 '2020-10-11_x',
 '2020-10-12_x',
 '2020-10-13_x',
 '2020-10-14_x',
 '2020-10-15_x',
 '2020-10-16_x',
 '2020-10-17_x',
 '2020-10-18_x',
 '2020-10-19_x',
 '2020-10-20_x',
 '2020-10-21_x',
 '2020-10-22_x',
 '2020-10-23_x',
 '2020-10-24_x',
 '2020-10-25_x',
 '2020-10-26_x',
 '2020-10-27_x',
 '2020-10-28_x',
 '2020-10-29_x',
 '2020-10-30_x',
 '2020-10-31_x',
 '2020-11-01_x',
 '2020-11-02_x',
 '2020-11-03_x',
 '2020-11-04_x',
 '2020-11-05_x',
 '2020-11-06_x',
 '2020-11-07_x',
 '2020-11-08_x',
 '2020-11-09_x',
 '2020-11-10_x',
 '2020-11-11_x',
 '2020-11-12_x',
 '2020-11-13_x',
 '2020-11-14_x',
 '2020-11-15_x',
 '2020-11-16_x',
 '2020-11-17_x',
 '2020-11-18_x',
 '2020-11-19_x',
 '2020-11-20_x',
 '2020-11-21_x',
 '2020-11-22_x',
 '2020-11-23_x',
 '2020-11-24_x',
 '2020-11-25_x',
 '2020-11-26_x',
 '2020-11-27_x',
 '2020-11-28_x',
 '2020-11-29_x',
 '2020-11-30_x',
 '2020-12-01_x',
 '2020-12-02_x',
 '2020-12-03_x',
 '2020-12-04_x',
 '2020-12-05_x',
 '2020-12-06_x',
 '2020-12-07_x',
 '2020-12-08_x',
 '2020-12-09_x',
 '2020-12-10_x',
 '2020-12-11_x',
 '2020-12-12_x',
 '2020-12-13_x',
 '2020-12-14_x',
 '2020-12-15_x',
 '2020-12-16_x',
 '2020-12-17_x',
 '2020-12-18_x',
 '2020-12-19_x',
 '2020-12-20_x',
 '2020-12-21_x',
 '2020-12-22_x',
 '2020-12-23_x',
 '2020-12-24_x',
 '2020-12-25_x',
 '2020-12-26_x',
 '2020-12-27_x',
 '2020-12-28_x',
 '2020-12-29_x',
 '2020-12-30_x',
 '2020-12-31_x',
 '2021-01-01_x',
 '2021-01-02_x',
 '2021-01-03_x',
 '2021-01-04_x',
 '2021-01-05_x',
 '2021-01-06_x',
 '2021-01-07_x',
 '2021-01-08_x',
 '2021-01-09_x',
 '2021-01-10_x',
 '2021-01-11_x',
 '2021-01-12_x',
 '2021-01-13_x',
 '2021-01-14_x',
 '2021-01-15_x',
 '2021-01-16_x',
 '2021-01-17_x',
 '2021-01-18_x',
 '2021-01-19_x',
 '2021-01-20_x',
 '2021-01-21_x',
 '2021-01-22_x',
 '2021-01-23_x',
 '2021-01-24_x',
 '2021-01-25_x',
 '2021-01-26_x',
 '2021-01-27_x',
 '2021-01-28_x',
 '2021-01-29_x',
 '2021-01-30_x',
 '2021-01-31_x',
 '2021-02-01_x',
 '2021-02-02_x',
 '2021-02-03_x',
 '2021-02-04_x',
 '2021-02-05_x',
 '2021-02-06_x',
 '2021-02-07_x',
 '2021-02-08_x',
 '2021-02-09_x',
 '2021-02-10_x',
 '2021-02-11_x',
 '2021-02-12_x',
 '2021-02-13_x',
 '2021-02-14_x',
 '2021-02-15_x',
 '2021-02-16_x',
 '2021-02-17_x',
 '2021-02-18_x',
 '2021-02-19_x',
 '2021-02-20_x',
 '2021-02-21_x',
 '2021-02-22_x',
 '2021-02-23_x',
 '2021-02-24_x',
 '2021-02-25_x',
 '2021-02-26_x',
 '2021-02-27_x',
 '2021-02-28_x',
 '2021-03-01_x',
 '2021-03-02_x',
 '2021-03-03_x',
 '2021-03-04_x',
 '2021-03-05_x',
 '2021-03-06_x',
 '2021-03-07_x',
 '2021-03-08_x',
 '2021-03-09_x',
 '2021-03-10_x',
 '2021-03-11_x',
 '2021-03-12_x',
 '2021-03-13_x',
 '2021-03-14_x',
 '2021-03-15_x',
 '2021-03-16_x',
 '2021-03-17_x',
 '2021-03-18_x',
 '2021-03-19_x',
 '2021-03-20_x',
 '2021-03-21_x',
 '2021-03-22_x',
 '2021-03-23_x',
 '2021-03-24_x',
 '2021-03-25_x',
 '2021-03-26_x',
 '2021-03-27_x',
 '2021-03-28_x',
 '2021-03-29_x',
 '2021-03-30_x',
 '2021-03-31_x',
 '2021-04-01_x',
 '2021-04-02_x',
 '2021-04-03_x',
 '2021-04-04_x',
 '2021-04-05_x',
 '2021-04-06_x',
 '2021-04-07_x',
 '2021-04-08_x',
 '2021-04-09_x',
 '2021-04-10_x',
 '2021-04-11_x',
 '2021-04-12_x',
 '2021-04-13_x',
 '2021-04-14_x',
 '2021-04-15_x',
 '2021-04-16_x',
 '2021-04-17_x',
 '2021-04-18_x',
 '2021-04-19_x',
 '2021-04-20_x',
 '2021-04-21_x',
 '2021-04-22_x',
 '2021-04-23_x',
 '2021-04-24_x',
 '2021-04-25_x',
 '2021-04-26_x',
 '2021-04-27_x',
 '2021-04-28_x',
 '2021-04-29_x',
 '2021-04-30_x',
 '2021-05-01_x',
 '2021-05-02_x',
 '2021-05-03_x',
 '2021-05-04_x',
 '2021-05-05_x',
 '2021-05-06_x',
 '2021-05-07_x',
 '2021-05-08_x',
 '2021-05-09_x',
 '2021-05-10_x',
 '2021-05-11_x',
 '2021-05-12_x',
 '2021-05-13_x',
 '2021-05-14_x',
 '2021-05-15_x',
 '2021-05-16_x',
 '2021-05-17_x',
 '2021-05-18_x',
 '2021-05-19_x',
 '2021-05-20_x',
 '2021-05-21_x',
 '2021-05-22_x',
 '2021-05-23_x',
 '2021-05-24_x',
 '2021-05-25_x',
 '2021-05-26_x',
 '2021-05-27_x',
 '2021-05-28_x',
 '2021-05-29_x',
 '2021-05-30_x',
 '2021-05-31_x',
 '2021-06-01_x',
 '2021-06-02_x',
 '2021-06-03_x',
 '2021-06-04_x',
 '2021-06-05_x',
 '2021-06-06_x',
 '2021-06-07_x',
 '2021-06-08_x',
 '2021-06-09_x',
 '2021-06-10_x',
 '2021-06-11_x',
 '2021-06-12_x',
 '2021-06-13_x',
 '2021-06-14_x',
 '2021-06-15_x',
 '2021-06-16_x',
 '2021-06-17_x',
 '2021-06-18_x',
 '2021-06-19_x',
 '2021-06-20_x',
 '2021-06-21_x',
 '2021-06-22_x',
 '2021-06-23_x',
 '2021-06-24_x',
 '2021-06-25_x',
 '2021-06-26_x',
 '2021-06-27_x',
 '2021-06-28_x',
 '2021-06-29_x',
 '2021-06-30_x',
 '2021-07-01_x',
 '2021-07-02_x',
 '2021-07-03_x',
 '2021-07-04_x',
 '2021-07-05_x',
 '2021-07-06_x',
 '2021-07-07_x',
 '2021-07-08_x',
 '2021-07-09_x',
 '2021-07-10_x',
 '2021-07-11_x',
 '2021-07-12_x',
 '2021-07-13_x',
 '2021-07-14_x',
 '2021-07-15_x',
 '2021-07-16_x',
 '2021-07-17_x',
 '2021-07-18_x',
 '2021-07-19_x',
 '2021-07-20_x',
 '2021-07-21_x',
 '2021-07-22_x',
 '2021-07-23_x',
 '2021-07-24_x',
 '2021-07-25_x',
 '2021-07-26_x',
 '2021-07-27_x',
 '2021-07-28_x',
 '2021-07-29_x',
 '2021-07-30_x',
 '2021-07-31_x',
 '2021-08-01_x',
 '2021-08-02_x',
 '2021-08-03_x',
 '2021-08-04_x',
 '2021-08-05_x',
 '2021-08-06_x',
 '2021-08-07_x',
 '2021-08-08_x',
 '2021-08-09_x',
 '2021-08-10_x',
 '2021-08-11_x',
 '2021-08-12_x',
 '2021-08-13_x',
 '2021-08-14_x',
 '2021-08-15_x',
 '2021-08-16_x',
 '2021-08-17_x',
 '2021-08-18_x',
 '2021-08-19_x',
 '2021-08-20_x',
 '2021-08-21_x',
 '2021-08-22_x',
 '2021-08-23_x',
 '2021-08-24_x',
 '2021-08-25_x',
 '2021-08-26_x',
 '2021-08-27_x',
 '2021-08-28_x',
 '2021-08-29_x',
 '2021-08-30_x',
 '2021-08-31_x',
 '2021-09-01_x',
 '2021-09-02_x',
 '2021-09-03_x',
 '2021-09-04_x',
 '2021-09-05_x',
 '2021-09-06_x',
 '2021-09-07_x',
 '2021-09-08_x',
 '2021-09-09_x',
 '2021-09-10_x',
 '2021-09-11_x',
 '2021-09-12_x',
 '2021-09-13_x',
 '2021-09-14_x',
 '2021-09-15_x',
 '2021-09-16_x',
 '2021-09-17_x',
 '2021-09-18_x',
 '2021-09-19_x',
 '2021-09-20_x',
 '2021-09-21_x',
 '2021-09-22_x',
 '2021-09-23_x',
 '2021-09-24_x',
 '2021-09-25_x',
 '2021-09-26_x',
 '2021-09-27_x',
 '2021-09-28_x',
 '2021-09-29_x',
 '2021-09-30_x',
 '2021-10-01_x',
 '2021-10-02_x',
 '2021-10-03_x',
 '2021-10-04_x',
 '2021-10-05_x',
 '2021-10-06_x',
 '2021-10-07_x',
 '2021-10-08_x',
 '2021-10-09_x',
 '2021-10-10_x',
 '2021-10-11_x',
 '2021-10-12_x',
 '2021-10-13_x',
 '2021-10-14_x',
 '2021-10-15_x',
 '2021-10-16_x',
 '2021-10-17_x',
 '2021-10-18_x',
 '2021-10-19_x',
 '2021-10-20_x',
 '2021-10-21_x',
 '2021-10-22_x',
 '2021-10-23_x',
 '2021-10-24_x',
 '2021-10-25_x',
 '2021-10-26_x',
 '2021-10-27_x',
 '2021-10-28_x',
 '2021-10-29_x',
 '2021-10-30_x',
 '2021-10-31_x',
 '2021-11-01_x',
 '2021-11-02_x',
 '2021-11-03_x',
 '2021-11-04_x',
 '2021-11-05_x',
 '2021-11-06_x',
 '2021-11-07_x',
 '2021-11-08_x',
 '2021-11-09_x',
 '2021-11-10_x',
 '2021-11-11_x',
 '2021-11-12_x',
 '2021-11-13_x',
 '2021-11-14_x',
 '2021-11-15_x',
 '2021-11-16_x',
 '2021-11-17_x',
 '2021-11-18_x',
 '2021-11-19_x',
 '2021-11-20_x',
 '2021-11-21_x',
 '2021-11-22_x',
 '2021-11-23_x',
 '2021-11-24_x',
 '2021-11-25_x',
 '2021-11-26_x',
 '2021-11-27_x',
 '2021-11-28_x',
 '2021-11-29_x',
 '2021-11-30_x',
 '2021-12-01_x',
 '2021-12-02_x',
 '2021-12-03_x',
 '2021-12-04_x',
 '2021-12-05_x',
 '2021-12-06_x',
 '2021-12-07_x',
 '2021-12-08_x',
 '2021-12-09_x',
 '2021-12-10_x',
 '2021-12-11_x',
 '2021-12-12_x',
 '2021-12-13_x',
 '2021-12-14_x',
 '2021-12-15_x',
 '2021-12-16_x',
 '2021-12-17_x',
 '2021-12-18_x',
 '2021-12-19_x',
 '2021-12-20_x',
 '2021-12-21_x',
 '2021-12-22_x',
 '2021-12-23_x',
 '2021-12-24_x',
 '2021-12-25_x',
 '2021-12-26_x',
 '2021-12-27_x',
 '2021-12-28_x',
 '2021-12-29_x',
 '2021-12-30_x',
 '2021-12-31_x',
 '2022-01-01_x',
 '2022-01-02_x',
 '2022-01-03_x',
 '2022-01-04_x',
 '2022-01-05_x',
 '2022-01-06_x',
 '2022-01-07_x',
 '2022-01-08_x',
 '2022-01-09_x',
 '2022-01-10_x',
 '2022-01-11_x',
 '2022-01-12_x',
 '2022-01-13_x',
 '2022-01-14_x',
 '2022-01-15_x',
 '2022-01-16_x',
 '2022-01-17_x',
 '2022-01-18_x',
 '2022-01-19_x',
 '2022-01-20_x',
 '2022-01-21_x',
 '2022-01-22_x',
 '2022-01-23_x',
 '2022-01-24_x',
 '2022-01-25_x',
 '2022-01-26_x',
 '2022-01-27_x',
 '2022-01-28_x',
 '2022-01-29_x',
 '2022-01-30_x',
 '2022-01-31_x',
 '2022-02-01_x',
 '2022-02-02_x',
 '2022-02-03_x',
 '2022-02-04_x',
 '2022-02-05_x',
 '2022-02-06_x',
 '2022-02-07_x',
 '2022-02-08_x',
 '2022-02-09_x',
 '2022-02-10_x',
 '2022-02-11_x',
 '2022-02-12_x',
 '2022-02-13_x',
 '2022-02-14_x',
 '2022-02-15_x',
 '2022-02-16_x',
 '2022-02-17_x',
 '2022-02-18_x',
 '2022-02-19_x',
 '2022-02-20_x',
 '2022-02-21_x',
 '2022-02-22_x',
 '2022-02-23_x',
 '2022-02-24_x',
 '2022-02-25_x',
 '2022-02-26_x',
 '2022-02-27_x',
 '2022-02-28_x',
 '2022-03-01_x',
 '2022-03-02_x',
 '2022-03-03_x',
 '2022-03-04_x',
 '2022-03-05_x',
 '2022-03-06_x',
 '2022-03-07_x',
 '2022-03-08_x',
 '2022-03-09_x',
 '2022-03-10_x',
 '2022-03-11_x',
 '2022-03-12_x',
 '2022-03-13_x',
 '2022-03-14_x',
 '2022-03-15_x',
 '2022-03-16_x',
 '2022-03-17_x',
 '2022-03-18_x',
 '2022-03-19_x',
 '2022-03-20_x',
 '2022-03-21_x',
 '2022-03-22_x',
 '2022-03-23_x',
 '2022-03-24_x',
 '2022-03-25_x',
 '2022-03-26_x',
 '2022-03-27_x',
 '2022-03-28_x',
 '2022-03-29_x',
 '2022-03-30_x',
 '2022-03-31_x',
 '2022-04-01_x',
 '2022-04-02_x',
 '2022-04-03_x',
 '2022-04-04_x',
 '2022-04-05_x',
 '2022-04-06_x',
 '2022-04-07_x',
 '2022-04-08_x',
 '2022-04-09_x',
 '2022-04-10_x',
 '2022-04-11_x',
 '2022-04-12_x',
 '2022-04-13_x',
 '2022-04-14_x',
 '2022-04-15_x',
 '2022-04-16_x',
 '2022-04-17_x',
 '2022-04-18_x',
 '2022-04-19_x',
 '2022-04-20_x',
 '2022-04-21_x',
 '2022-04-22_x',
 '2022-04-23_x',
 '2022-04-24_x',
 '2022-04-25_x',
 '2022-04-26_x',
 '2022-04-27_x',
 '2022-04-28_x',
 '2022-04-29_x',
 '2022-04-30_x',
 '2022-05-01_x',
 '2022-05-02_x',
 '2022-05-03_x',
 '2022-05-04_x',
 '2022-05-05_x',
 '2022-05-06_x',
 '2022-05-07_x',
 '2022-05-08_x',
 '2022-05-09_x',
 '2022-05-10_x',
 '2022-05-11_x',
 '2022-05-12_x',
 '2022-05-13_x',
 '2022-05-14_x',
 '2022-05-15_x',
 '2022-05-16_x',
 '2022-05-17_x',
 '2022-05-18_x',
 '2022-05-19_x',
 '2022-05-20_x',
 '2022-05-21_x',
 '2022-05-22_x',
 '2022-05-23_x',
 '2022-05-24_x',
 '2022-05-25_x',
 '2022-05-26_x',
 '2022-05-27_x',
 '2022-05-28_x',
 '2022-05-29_x',
 '2022-05-30_x',
 '2022-05-31_x',
 '2022-06-01_x',
 '2022-06-02_x',
 '2022-06-03_x',
 '2022-06-04_x',
 '2022-06-05_x',
 '2022-06-06_x',
 '2022-06-07_x',
 '2022-06-08_x',
 '2022-06-09_x',
 '2022-06-10_x',
 '2022-06-11_x',
 '2022-06-12_x',
 '2022-06-13_x',
 '2022-06-14_x',
 '2022-06-15_x',
 '2022-06-16_x',
 '2022-06-17_x',
 '2022-06-18_x',
 '2022-06-19_x',
 '2022-06-20_x',
 '2022-06-21_x',
 '2022-06-22_x',
 '2022-06-23_x',
 '2022-06-24_x',
 '2022-06-25_x',
 '2022-06-26_x',
 '2022-06-27_x',
 '2022-06-28_x',
 '2022-06-29_x',
 '2022-06-30_x',
 '2022-07-01_x',
 '2022-07-02_x',
 '2022-07-03_x',
 '2022-07-04_x',
 '2022-07-05_x',
 '2022-07-06_x',
 '2022-07-07_x',
 '2022-07-08_x',
 '2022-07-09_x',
 '2022-07-10_x',
 '2022-07-11_x',
 '2022-07-12_x',
 '2022-07-13_x',
 '2022-07-14_x',
 '2022-07-15_x',
 '2022-07-16_x',
 '2022-07-17_x',
 '2022-07-18_x',
 '2022-07-19_x',
 '2022-07-20_x',
 '2022-07-21_x',
 '2022-07-22_x',
 '2022-07-23_x',
 '2022-07-24_x',
 '2022-07-25_x',
 '2022-07-26_x',
 '2022-07-27_x',
 '2022-07-28_x',
 '2022-07-29_x',
 '2022-07-30_x',
 '2022-07-31_x',
 '2022-08-01_x',
 '2022-08-02_x',
 '2022-08-03_x',
 '2022-08-04_x',
 '2022-08-05_x',
 '2022-08-06_x',
 '2022-08-07_x',
 '2022-08-08_x',
 '2022-08-09_x',
 '2022-08-10_x',
 '2022-08-11_x',
 '2022-08-12_x',
 '2022-08-13_x',
 '2022-08-14_x',
 '2022-08-15_x',
 '2022-08-16_x',
 '2022-08-17_x',
 '2022-08-18_x',
 '2022-08-19_x',
 '2022-08-20_x',
 '2022-08-21_x',
 '2022-08-22_x',
 '2022-08-23_x',
 '2022-08-24_x',
 '2022-08-25_x',
 '2022-08-26_x',
 '2022-08-27_x',
 '2022-08-28_x',
 '2022-08-29_x',
 '2022-08-30_x',
 '2022-08-31_x',
 '2022-09-01_x',
 '2022-09-02_x',
 '2022-09-03_x',
 '2022-09-04_x',
 '2022-09-05_x',
 '2022-09-06_x',
 '2022-09-07_x',
 '2022-09-08_x',
 '2022-09-09_x',
 '2022-09-10_x',
 '2022-09-11_x',
 '2022-09-12_x',
 '2022-09-13_x',
 '2022-09-14_x',
 '2022-09-15_x',
 '2022-09-16_x',
 '2022-09-17_x',
 '2022-09-18_x',
 '2022-09-19_x',
 '2022-09-20_x',
 '2022-09-21_x',
 '2022-09-22_x',
 '2022-09-23_x',
 '2022-09-24_x',
 '2022-09-25_x',
 '2022-09-26_x',
 '2022-09-27_x',
 '2022-09-28_x',
 '2022-09-29_x',
 '2022-09-30_x',
 '2022-10-01_x',
 '2022-10-02_x',
 '2022-10-03_x',
 '2022-10-04_x',
 '2022-10-05_x',
 '2022-10-06_x',
 '2022-10-07_x',
 '2022-10-08_x',
 '2022-10-09_x',
 '2022-10-10_x',
 '2022-10-11_x',
 '2022-10-12_x',
 '2022-10-13_x',
 ...]

Converting State names to corresponding abbreviation

In [9]:
employee_data["State"]=employee_data["St Name"].apply(lambda x: us_state_to_abbrev[x] if not pd.isna(x) else "" )

Stripping covid data County Name column to avoid white spaces at the end

In [10]:
super_covid_data["Area"]=super_covid_data["County Name_x"].str.rstrip()

Replacing Area Column of Employee Data To have only County Name

In [11]:
employee_data["Area"]=employee_data["Area"].str.replace("(,).*","").str.rstrip() # Using String Replace to strip characters after comma

C:\Users\yerra\AppData\Local\Temp\ipykernel_16848\3662354481.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  employee_data["Area"]=employee_data["Area"].str.replace("(,).*","").str.rstrip() # Using String Replace to strip characters after comma

In [12]:
merged_data=super_covid_data.merge(employee_data) # merging on County Names on Area Column and on state

In [13]:
merged_data

,countyFIPS,County Name_x,State,StateFIPS,2020-01-22_x,2020-01-23_x,2020-01-24_x,2020-01-25_x,2020-01-26_x,2020-01-27_x,...,Industry,Status Code,Establishment Count,January Employment,February Employment,March Employment,Total Quarterly Wages,Average Weekly Wage,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
0,1001,Autauga County,AL,1,0,0,0,0,0,0,...,"10 Total, all industries",NaN,1001,11227,11310,11309,127990498,873,1.00,1.00
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,"10 Total, all industries",NaN,10,74,85,94,1312978,1198,0.43,0.44
2,1001,Autauga County,AL,1,0,0,0,0,0,0,...,"10 Total, all industries",NaN,18,551,550,535,7765308,1095,1.54,2.02
3,1001,Autauga County,AL,1,0,0,0,0,0,0,...,"10 Total, all industries",NaN,32,1829,1832,1857,20126311,842,1.72,2.03
4,1001,Autauga County,AL,1,0,0,0,0,0,0,...,"10 Total, all industries",NaN,941,8773,8843,8823,98785901,862,0.91,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53287,56045,Weston County,WY,56,0,0,0,0,0,0,...,1024 Professional and business services,NaN,25,64,64,72,1038346,1198,0.21,0.20
53288,56045,Weston County,WY,56,0,0,0,0,0,0,...,1025 Education and health services,NaN,30,163,160,165,1155014,546,0.46,0.36
53289,56045,Weston County,WY,56,0,0,0,0,0,0,...,1026 Leisure and hospitality,NaN,21,167,153,163,502586,240,0.70,0.50
53290,56045,Weston County,WY,56,0,0,0,0,0,0,...,1027 Other services,NaN,12,34,42,41,411186,811,0.62,0.86
53291,56045,Weston County,WY,56,0,0,0,0,0,0,...,1029 Unclassified,NaN,2,1,1,0,8725,1007,0.00,0.18